<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>Counter</h1>
      <p>{{ count }}</p>
      <button v-on:click="incrementCount">Increment Count</button>
      <label for="incrementAmount">Increment by: </label>
      <input type="number" />
      <hr />


      <p v-if="characterList.length === 0">There are no charachters</p>
      <ul v-else>
        <li v-for="character in characterList">
          {{ character.name }}
        </li>
      </ul>
      <p><span v-for="(character, index) in characterList">
        {{ character.name }}{{ index === characterList.length - 1 ? '' : ', ' }}
      </span></p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data: () => ({
          count: 10,
          incrementAmount: 1,
          characterList: [
            {
              name: "Mike",
            },
            {
              name: "Harvey",
            },
            {
              name: "Jessica",
            },
            {
              name: "Louis",
            },
          ]
        }),
        // JS functions available to call any time
        methods: {
          incrementCount() {
            this.count += this.incrementAmount;
          }
        }
      }).mount("#app");
    </script>
  </body>
</html>
