<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Complete Intro to Vue 3</title>
  </head>
  <body>
    <h1>Vue app</h1>
    <div id="app">
      <h1>{{ displayTitle }}</h1>
      <p v-bind:data-increment-by="incrementAmount">{{ count }}</p>
      <p> {{ optimizeIncrementAmount }}</p>
      <button v-on:click="incrementCount(10, $event)">Increment Count</button>
      <div>
        <label for="incrementAmount">Increment by: </label>
        <input type="number"
          v-model="incrementAmount"  />
      </div>
      <hr />


      <p v-if="message.length % 2 === 0">Even: {{ message }}</p>
      <p v-else>Odd: {{ message }}</p>

      <ul>
        <li v-for="number in listOfNumbers">
          {{ number }}
        </li>
      </ul>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      /**
       * Equal to Vue.createApp
       * Import only the createApp function instead of the whole Vue library
       * - keep the bundle size small!
       */
      const { createApp } = Vue;

      const app = createApp({
        // Use data() in order to preserve the reactivity
        data() {
          return {
            count: 10,
            incrementAmount: 1,
            message: "This is a Vue App!",
            listOfNumbers: [1, 2, 3, 4, 5],
            counterTitle: "Counter Standard",
          }
        },
        
        computed: {
          displayTitle() {
            if (this.count > 20) {
              return "Counter Standard - Very Long";
            } else {
              return "Counter Standard"
            }
          },
          optimizeIncrementAmount() {
            return this.displayTitle.length * this.incrementAmount;
          }
        },
        methods: {
          incrementCount(newAmount, event) {
            this.count += this.optimizeIncrementAmount;
          },
        },
        watch: {
          count(newValue) {
            if (newValue > 20) {
              this.counterTitle += " Very Long"
            }
          }
        }
      });

      // Mount the app
      app.mount("#app");
    </script>
  </body>
</html>
